body {
  background-color: rgb(155, 183, 236);
}

.text {
  margin: 20px;
  padding: 0 20px ;
}

.container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.icon {
  box-shadow: none;
}

p {
  text-align: justify;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}

img {
  box-shadow: 2px 2px 20px black;
}

.btnShowText {
  border: none;
  background: transparent;
  font-size: 23px;
  color: blue;
  font-family: 'Montserrat', sans-serif;
}

.btnDelete {
  padding:20px 30px;
  margin: 10px;
  background-color: blue;
  color: white;
  font-size: 23px;
  border: none;
  box-shadow: 1px 2px 20px black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.btnBack, .btnNext{
  padding: 30px;
  border: none;
  background: transparent;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
}

@media all and (max-width: 1024px) {
  img {
    width: 500px;
  }
  p {
    font-size: 18px;
  }
  .icon {
    width: 28px;
  }
  .Piramida {
    width: 600px;
    height: auto;
  }
  .btnDelete {
    padding: 10px;
    font-size: 18px;
  }
}